@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700&display=swap');

a {
	color: rgb(139,0,0);
	text-decoration: none;
}

header .logotype {
	font-size: 20px;
}

.logotype {
	color: rgb(139,0,0);
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
}

#banner {
	display: flex;
	padding: 10px 20px;
	align-items: center;
	justify-content: space-between;
	grid-row-start: header;
	grid-row-end: main-body;
}

#about-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
}

#about-wrapper.hidden {
	display:none;
}

#about-wrapper #close-about {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 15px;
	top: 15px;
	background-image: url("./images/x-circle.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-color: white;
}

#about {
	position: relative;
	background-color:rgba(255,255,255,0.96);
	padding: 40px;
}

#about h2 {
	margin-top: 0px;
}

#grid {
	line-height: 1.5em;
	height: 100%;
	display: grid;
	grid-template-rows: [header] 30px [main-body] auto [footer] 40px;
	grid-template-columns: 100%;
}

#grid h1 {
	text-align: center;
}

#grid main {
	margin: 0 20px;
	display: grid;
	grid-template-rows: [header] 50px [description] 200px [mini-picker] 70px [main] auto;
	height: 100%;
}

#grid footer {
	grid-row-start: footer;
	padding: 10px 20px;
}

/* Svelte defaults */

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(200, 100, 100);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}